<div class="chat-window">
    <header class="chat-nav-header">
        <div class="chat-nav-button-container">
            <button class="chat-nav-button red"></button>
            <button class="chat-nav-button yellow"></button>
            <button class="chat-nav-button green"></button>
        </div>
        <h5>Chat</h5>
    </header>
    <div class="chat-body">
        <p>{{conversations}}</p>
    </div>
    <form class="chat-typing-form" action="">
        <input class="chat-input" type="text">
        <input class="chat-submit" type="submit">
    </form>
</div>