<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Properties</h5>
          <p>
            <strong>ID</strong>: {{properties.id}}</p>
          <p>
            <p>
              <strong>Address</strong>: {{properties.address}}</p>
            <p>
              <strong>Price:</strong> {{properties.price}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>