<div class="container">
  {{!-- Home Page navbar --}}
  <header class="site-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" aria-label="Main navigation">
        {{!-- Home Page Logo --}}
        <a class="navbar-brand" href="/">
          <img src="img/logo.png" width="180" alt="Pillow Logo">
        </a>
        <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars fa-md"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto text-right auth-nav-container">
              {{!-- Login button --}}
              <li class="nav-item mr-3 chat-button logged-in"><a class="nav-link text-dark font-weight-bolder" href="/users/chat">Chats</a></li>
              {{!-- Sign Up button --}}
              <li class="nav-item logout-button logged-in"><a class="btn btn-outline-primary" href="/">Logout</a></li>
              {{!-- Login button --}}
              <li class="nav-item mr-3 login-button logged-out"><a class="nav-link text-dark font-weight-bolder" href="/login">Login</a></li>
              {{!-- Sign Up button --}}
              <li class="nav-item sign-up-button logged-out"><a class="btn btn-outline-primary" href="/signup">Sign up</a></li>
              <li class="nav-item logout-button logged-in" style="margin-left: 15px">
                    <a href="#" class="nav-link text-dark font-weight-bolder" id="get-favorites">Favorites</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  {{!-- Home page main content --}}
  <div class="container">
    <div class="row justify-content-center">
      {{!-- Lead Statement --}}
      <div class="col-12 text-center mb-5">
        <h1 class="display-4 lead-statement">Let Us Help You Find</h1>
        <h1 class="display-4 font-weight-bold lead-statement">Your Dream Home</span></h1>
      </div>
      {{!-- Address Input form --}}
      <form class="search-form">
        <div class="form-group shadow">
          <input type="search" class="input-address form-control text-truncate pl-4" id="homePage-address-input"
            placeholder="Enter address, city or ZIP code">
        </div>
      </form>
    </div>
    {{!-- Home Page illustration --}}
    <div class="container illustration">
      <img src="/img/home_page_illustration.svg" class="img-fluid" alt="Home Page buildings illustration">
    </div>
    <div class="wave-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#9c96ff" fill-opacity="1"
          d="M0,128L80,154.7C160,181,320,235,480,266.7C640,299,800,309,960,298.7C1120,288,1280,256,1360,240L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
      </svg>
    </div>
  </div>
</div>

<!-- The Modal loader -->
<div id="modal-loader" class="modal">
  <!-- Modal content -->
    <div class="modalContent">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>
</div>

  <script src="/js/index.js"></script>