<div class="login-form-container">
    <form class="login-form">
        <div class="header-container">
            <img id="logo" src="../img/logo.png" width="180" alt="Pillow Logo">
            <hr>
            <h5>Sign in to access your account.</h5>
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input id="email" class="text-input" name="email" type="text">
            <label for="password">Password</label>
            <input class="text-input" name="password" type="text">
        </div>
        <input id="submit-button" type="submit" value="Submit">
        <div id="sign-up-container">
            <a href="/signup">Sign Up</a>
            <a href="">Forgot your password?</a>
        </div>
    </form>
</div>
<script src="/js/login.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>