<div class="modal-container">
    <div class="property-images-container">
        <img class="main-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp">
        <div class="sub-property-image-list-container">
            <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
        </div>
    </div>
    <div class="property-information-container">
        <header class="main-house-display-header">
            <h2 class="pillow-header">Pillow</h2>
            <div class="save-share-more-container">
                <button class="header-button">Save</button>
                <button class="header-button">Share</button>
                <button class="header-button">More</button>
            </div>
        </header>
        <hr>
        <div class="property-stats-container">
            <div class="price-bed-bath-sqr-foot-container">
                <h3 class="property-price-header">$<span class="property-price">5,500,000</span></h3>
                <p class="num-bed-display"><span class="num-bed"></span>ba</p>
                <p class="num-bath-display"><span class="num-bath"></span>bd</p>
                <p class="sqr-foot-display" style="padding-left: 5px"><span class="sqrft"></span>sqft</p>
            </div>
        </div>
        <h5>Address</h5>
        <p><strong>Est. payment:</strong><span class="monthly-price"> 27,014</span>/mo</p>
        <div class="tour-contact-button-container">
            <button class="tour-and-contact-button">Contact an Agent</button>
            <button class="tour-and-contact-button take-tour-button">Take a Tour</button>
        </div>
        <hr>
        <div class="property-section-nav-container">
            <a class="property-nav-link">Overview</a>
            <a class="property-nav-link">Facts and features</a>
            <a class="property-nav-link">Home value</a>
            <a class="property-nav-link">Price and tax history</a>
            <a class="property-nav-link">Monthly cost</a>
            <a class="property-nav-link">Rental value</a>
            <a class="property-nav-link">Nearby schools</a>
            <a class="property-nav-link">Commute time</a>
            <a class="property-nav-link">Neighborhood</a>
            <a class="property-nav-link">Contact</a>
            <a class="property-nav-link">Similar homes</a>
        </div>
        <hr>
        <div class="street-view-container">
            <iframe class="street-view-iframe" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/streetview?location=27.9081,-82.4974&key=AIzaSyA9RYFLOsAjw3UtphZfNyO8DHo8fCwmJn8" 
            allowfullscreen></iframe>
        </div>
        <hr>
        <div class="property-description-container">
            <p>Beautiful modern farmhouse home on an acre of land in prestigious and 
                welcoming Heritage Point! This home has upstairs and downstairs masters, 
                huge secondary bedrooms, family space upstairs and down, and a dream backyard 
                complete with deck, screened porch, a hand poured garden path, chicken coop, 
                and raised garden beds. Close to freeways, restaurants, and shopping. Neighborhood 
                amenities include pool and tennis. This serene setting will become your peaceful 
                retreat from a hectic world.
            </p>
        </div>
        <hr>
        <h2 id="facts-and-features">Facts and features</h2>
        <div class="facts-and-features-list-container">
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/useCase.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Type</h4>
                    <p>Single Family</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/heating.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Heating</h4>
                    <p>Other</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/parking.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Parking</h4>
                    <p>Garage</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/yearBuilt.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Year built</h4>
                    <p>2015</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/heatingType.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Heating</h4>
                    <p>Gas</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/lotSizeSqFt.png" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Lot size</h4>
                    <p>3,123 sqft.</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/bathroom.jpg" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Bathrooms</h4>
                    <p>2.5</p>
                </div>
            </div>
            <div class="facts-and-features-container">
                <img class="facts-and-features-image" src="/test-images/bedroom.jpg" alt="">
                <div class="fact-and-feature-type-container">
                    <h5>Bedrooms</h4>
                    <p>3</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="nearby-schools-container">
            
        </div>
        <h2 id="nearby-schools-header">Nearby Schools</h2>
        <hr>
        <div class="nearby-schools-header-container">
            <h6>GreatSchools' rating</h6>
        </div>
        <div class="great-schools-rating-container">
            <div>
                <div class="great-schools-rating">
                    <p class="num-out-of-ten">2</p>
                    <span class="of-ten">/10</span>
                </div>
            </div>
            <h6 class="inline">H.B. Plant High School</h6>

        </div>
        <!--https://www.greatschools.org/api/docs/nearby-schools/-->
        <hr>
        <h2>Similar homes</h2>
        <div class="similar-homes-container">
            <div class="similar-home">

            </div>
            <div class="similar-home">

            </div>
        </div>
        <hr>
        <h2>Get more information</h2>
        <hr>
        <form class="more-information-form" action="">
            <input class="form-input" placeholder="Name" type="text">
            <input class="form-input" placeholder="Email" type="text">
            <input class="form-input" placeholder="Phone" type="text">
            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <input class="submit-button" type="submit" value="Submit">
        </form>
    </div>
</div>