<div class="modal-container">
    <div class="property-images-container">
        <img class="main-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp">
        <div class="sub-property-image-list-container">
            <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
             <div class="sub-property-image-container">
                <img class="sub-property-image" src="https://photos.zillowstatic.com/cc_ft_1536/ISvkjpmucs3nyi1000000000.webp" alt="">
            </div>
        </div>
    </div>
    <div class="property-information-container">
        <header class="main-house-display-header">
            <h2 class="pillow-header">Pillow</h2>
            <div class="save-share-more-container">
                <button class="header-button">Save</button>
                <button class="header-button">Share</button>
                <button class="header-button">More</button>
            </div>
        </header>
        <hr>
        <div class="property-stats-container">
            <div class="price-bed-bath-sqr-foot-container">
                <h3 class="property-price-header">$<span class="property-price">5,500,000</span></h3>
                <p class="num-bed-display"><span class="num-bed"></span>ba</p>
                <p class="num-bath-display"><span class="num-bath"></span>bd</p>
                <p class="sqr-foot-display" style="padding-left: 5px"><span class="sqrft"></span>sqft</p>
            </div>
        </div>
        <h5>Address</h5>
        <p><strong>Est. payment:</strong><span class="monthly-price"> 27,014</span>/mo</p>
        <div class="tour-contact-button-container">
            <button class="tour-and-contact-button">Contact an Agent</button>
            <button class="tour-and-contact-button take-tour-button">Take a Tour</button>
        </div>
        <hr>
        <div class="property-section-nav-container">

        </div>
        <hr>
    </div>
</div>