.container {
    min-width: 320px;
}

#homePage-address-input {
    height: 70px;
    font-size: 24px;
}

#locationSearchForm {
    width: 50%;
}

.illustration {
    max-width: 735px;
}

.lead-statement {
    text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(0,0,0,0.15);
}

.wave-container > svg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -9999;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px){
    .lead-statement {
        font-size: 2em;
    }
    .navbar-brand img {
        width: 150px;
    }
    .search-form {
        width: 100%;
    }
}
